<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'vets')}">
<head>
    <meta charset="UTF-8">
    <title>list of vets </title>
</head>
<body>
    <h2 th:text="'list of vets'">vets</h2>

    <table  class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>first name</th>
            <th>last name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vet : ${vets}">
            <td th:text="${vet.id}">1</td>
            <td th:text="${vet.firstName}">jone</td>
            <td th:text="${vet.lastName}">doe</td>
        </tr>
        </tbody>
    </table>
</body>
</html>